---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Consulting from '../components/Consulting.astro';
import About from '../components/About.astro';
import Menu from '../components/Menu.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Gallery from '../components/Gallery.astro';

const info = {
  phone: '+385 92 423 2296',
  email: 'infobotanist@gmail.com',
  address: 'Ul. Mihovila Pavlinovića 4',
  city: '23000 Zadar, Croatia',
  facebook: 'https://www.facebook.com/botanistzadar',
  instagram: 'https://www.instagram.com/botanist_zadar',
  schedule: {
    daily: '13:00 - 22:00',
    wednesday: 'Closed',
  }
}
---

<Layout>
  <Header info={info}/>
  <main>
    <Hero info={info}/>
    <About />
    <Consulting />
    <Menu info={info}/>
    <Gallery />
    <Contact info={info}/>
  </main>
  <Footer info={info}/>
</Layout>
