---
// import { getLangFromUrl, useTranslations } from '../i18n/utils';
// const lang = getLangFromUrl(Astro.url);
import TreeRight from "./TreeRight.astro";
import { useTranslations } from "../i18n/utils";
const lang = Astro.currentLocale || "en";
const t = useTranslations(lang as "en" | "hr");
const { info = {} } = Astro.props;
---

<section id="contact" class="relative">
	<TreeRight styles="w-full text-gray-600 opacity-10 absolute top-0 left-0 z-0" />
	<div class="py-16 md:py-24 relative z-20">
		<div class="mx-auto px-4 max-w-7xl">
			<!-- Section Header -->
			<div class="text-center mb-16">
				<h2 class="text-3xl md:text-4xl text-gold mb-4">
					{t("title", "contact")}
				</h2>
				<p class="max-w-2xl mx-auto">{t("description", "contact")}</p>
			</div>

			<div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
				<!-- Contact Form -->
				<div class="p-8 rounded-lg shadow-md">
					<h3 class="text-2xl font-semibold mb-6">
						{t("contactUs", "contact")}
					</h3>
					<div class="mb-8">
						<div class="flex items-start mb-4">
							<div
								class="w-10 h-10 bg-gold rounded-full flex items-center justify-center mr-4 flex-shrink-0"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="h-5 w-5 text-black-olive"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
									></path>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
									></path>
								</svg>
							</div>
							<div>
								<h4 class="font-medium text-gold mb-1">
									{t("address", "contact")}
								</h4>
								<p>{info.address}</p>
								<p>{info.city}</p>
							</div>
						</div>

						<div class="flex items-start mb-4">
							<div
								class="w-10 h-10 bg-gold rounded-full flex items-center justify-center mr-4 flex-shrink-0"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="h-5 w-5 text-black-olive"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
									></path>
								</svg>
							</div>
							<div>
								<h4 class="font-medium text-gold mb-1">
									{t("phone", "contact")}
								</h4>
								<p>
									<a
										href={`tel:${info.phone}`}
										class="hover:text-satin-gold transition-colors"
										>{info.phone}</a
									>
								</p>
							</div>
						</div>

						<div class="flex items-start mb-4">
							<div
								class="w-10 h-10 bg-gold rounded-full flex items-center justify-center mr-4 flex-shrink-0"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="h-5 w-5 text-black-olive"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
									></path>
								</svg>
							</div>
							<div>
								<h4 class="font-medium mb-1 text-gold">
									{t("email", "contact")}
								</h4>
								<p class="text-gray-200">
									<a
										href={`mailto:${info.email}`}
										class="hover:text-satin-gold transition-colors"
										>{info.email}</a
									>
								</p>
							</div>
						</div>

						<div class="flex items-start">
							<div
								class="w-10 h-10 bg-gold rounded-full flex items-center justify-center mr-4 flex-shrink-0"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="h-5 w-5 text-black-olive"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
									></path>
								</svg>
							</div>
							<div class="w-full">
								<h4 class="font-medium mb-1 text-gold">
									{t("openingHours")}
								</h4>
								<ul class="space-y-2 w-full">
									<li class="text-sm flex justify-between">
										<span>{t("daily")}</span>
										<span>13:00 - 22:00</span>
									</li>
									<li class="text-sm flex justify-between">
										<span>{t("wednesday")}</span>
										<span>{t("closed")}</span>
									</li>
								</ul>
								<p class="mt-1 italic text-sm text-satin-gold">
									({t("kitchenHours")})
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Contact Information -->
				<div>
					<h3 class="text-2xl font-semibold mb-6">
						{t("visitUs", "contact")}
					</h3>

					<!-- Map -->
					<div
						class="rounded-lg overflow-hidden shadow-md h-96 bg-gray-100"
					>
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2864.57828103213!2d15.220545893140144!3d44.11269304804122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4761fb9c9040e957%3A0x8035752ff148871a!2sThe%20Botanist!5e0!3m2!1sen!2shr!4v1743871284662!5m2!1sen!2shr"
							width="100%"
							height="100%"
							style="border:0;"
							allowfullscreen=""
							loading="lazy"
							referrer-policy="no-referer-when-downgrade"
						></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
